/* You can add global styles to this file, and also import other style files */
::ng-deep ::-webkit-scrollbar {
  display: none;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f5f7fa;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/* .navbar {
  background: #1e293b;

  text-align: center;
  position: fixed;
  width: 100%;
}

.navbar a {
  color: white;
  text-decoration: none;

} */

section {
  padding: 40px;
  max-width: 900px;
  margin: auto;
}

.card {
  background: white;
  padding: 20px;

  border-radius: 8px;
}

footer {
  background: #1e293b;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
}


